GROQ_API_KEY=your_key_here
GROQ_MODEL=openai/gpt-oss-120b

# woocomerce
WOOCOMMERCE_URL=http://<ip-ou-domaine-de-ta-vm>/wp-json/wc/v3
WOOCOMMERCE_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WOOCOMMERCE_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
